
/* COLOR PALETTE */
:root {
    --GR1: #191a1d;
    --GR2: #202124;
    --GR3: #2d2e30;
    --GR4: #3f4042;
    --GR5: #d9d9d9;
}

/* GLOBAL */
body {
    margin: 0;
}

header {
    color: white;
    font-family: "din";
    font-weight: bold;
    background-color: var(--GR1);
    width: 100%;
    height: 100%;
}

div {
    background-color: var(--GR5);
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "din";
    src: url("fonts/d-din.woff") format('woff');
}

@font-face {
    font-family: "din";
    src: url("fonts/d-din-bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "din";
    src: url("fonts/d-din-italic.woff") format('woff');
    font-style: italic;
}

.test {
    font-family: "din";
    font-weight: bold;
}
